
@{
    ViewBag.Title = "CauHoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="color:white; font-size:14px">
    <div class="box">
        <h2 style="color:#e96a0f;padding-top: 5px; padding-left: 10px; font-weight: bold;text-align:center">Câu Hỏi Thường Gặp Khi Đến Với 4T_LKĐT</h2>
        <div class="aboutindexcont">
            <div style="text-align:center;">
                <img src="http://jmaverickdesign.com/wp-content/uploads/2012/04/T4Logo_iPad.png" alt="ts" width="200" height="200">
            </div>
            <p>
                <font face="Arial">
                    <font size="2"><strong style="color:#e96a0f;">1: <br></strong><br>

